[Desktop Entry]
Type=Application
Exec=
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]=Disable Right Trackpad
Name=Disable Right Trackpad
Comment[en_AU]=
Comment=
